.modalBackground {
  background-color: rgba(0, 0, 0, 0.923);
  position: fixed;
  top: 0;
  z-index: 11;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.modalContainer {
  position: absolute;
  width: 500px;
  height: 630px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 18px rgb(112, 13, 112);
  z-index: 12;
  background-color: rgba(243, 171, 222, 0.447);
}
.modalTitle {
  font-size: large;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  font-family: cursive;
  font-weight: bold;
}
.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalFooter {
  display: flex;
  justify-content: end;
}

textarea {
  max-width: 100%;
  max-height: 200px;
  outline: purple;
  resize: none;
  padding: 10px;
  border-radius: 8px;
  font-family: serif;
  letter-spacing: 0.8px;
  font-size: small;
}
textarea::-webkit-scrollbar {
  display: none;
}

.input-title-box {
  background-color: rgba(240, 248, 255, 0);
  border-style: none;
  border: none;
  font-size: 20px;
  font-family: cursive, serif;
  color: aliceblue;
  font-weight: 900;
  outline: none;
}

.modal-button {
  z-index: 5;
  margin: 30px 0;
  height: 40px;
  font-size: 15px;
  font-family: serif;
  border-radius: 5px;
  color: palevioletred;
  font-weight: 900;
  box-shadow: 1px 1px 15px;
  border: solid 0.8px purple;
}

.width {
  width: 150px;
}

.tag-btn {
  width: 70%;
  height: 30px;
  padding: 5px;
  border-radius: 7px;
  border: 0.5px;
  font-weight: 900;
  font-style: normal;
  font-family: sans-serif;
}

.close-btn {
  width: 90px;
}
.x-button {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 9999px;
  z-index: 18;
  height: 35px;
  width: 35px;
  background-color: #ffffffb9;
  color: rgb(59, 13, 3);
  font-weight: bold;
  font-size: large;
  border-width: 0px;
}
@media screen and (max-width: 1000px) {
  .modalContainer {
    width: 90%;
  }
}
